form > div {
    margin-bottom: 25px;
}

.nav-text {
    line-height: 3.5em;
}

.votes {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.vote:link,
.vote:visited,
.vote:hover
.vote:active {
    color: #B0AFAB;
}

.link-voted:link,
.link-voted:visited,
.link-voted:hover
.link-voted:active {
    color: #F4645F;
}

.rank {
    padding-top: 1.3em
}

.link {
    padding-top: 1.3em;
}
