form > div {
    margin-bottom: 25px;
}

.nav-text {
    line-height: 3.5em;
}

.votes {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.rank {
    padding-top: 1.3em
}

.link {
    padding-top: 1.3em;
}
